.seccion {
    background-color: #EAD2AC;
    color: #333;
    padding: 20px;
    text-align: center;
}

.seccion h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.seccion img {
    width: 60%;
    margin-bottom: 20px;
    display: block;
    margin: auto;
}

.seccion p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 20px;
    text-align: center;
    width: 60%;
    margin: auto;
}