.header {
  background-color: #EAD2AC; /* Marrón claro */
  color: #333; /* Gris oscuro */
  padding: 20px;

}

.header h1 {
  font-size: 36px;
  margin: 0;
  color: #FFF; /* Blanco */
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5); /* Sombra de texto */
  text-align: center;
}